#button-container {
    margin-top: 20px;
    margin-bottom: 10px;
    margin: 20px 5px 10px 0
}

button {
    cursor: pointer;
    display: inline-block;
    padding: 0.7em 1.4em;
    margin: 0 0.3em 0.3em 0;
    border: 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    /* font-family: arial, verdana, sans-serif, 'Roboto', sans-serif; */
    text-transform: uppercase;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #19A8A8;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
    text-align: center;
    position: relative;
    width: 11em;
    transition: box-shadow 1s ease, background-color 1s ease;
}

button:active {
    top: 0.1em;
}

button:disabled {
    pointer-events: none;
    box-shadow: none;
    background-color:#19a8a84b;
}

button:disabled span {
    pointer-events: none;
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
    font-family: arial, verdana, sans-serif, 'Roboto', sans-serif;
}

button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10px;
    transition: 0.3s;
}

button:hover:enabled span {
    padding-right: 15px;
}

button:hover:enabled span:after {
    opacity: 1;
    right: 0;
}

@media all and (max-width:30em) {
    button {
        display: block;
        margin: 0.4em auto;
    }
}