#table-container {
    padding-left: 30px;
}

#scroll-container {
    max-height: 200px;
    overflow-y: auto;
}

#parsed-entries {
    width: 100%;
    table-layout: fixed;
}

#parsed-entries td:first-child {
    width: 80%;
}

#parsed-entries td:last-child {
    text-align: right;
}

th {
    text-align: left;
    min-width: 60px;
    border-bottom: 1px solid #555;
}

td {
    font-weight: bold;
}

th:first-child {
    width: 80%;
}

th:last-child {
    text-align: right;
}

#parsed-entries td {
    word-wrap: break-word;
    font-family: 'Roboto', sans-serif;
    font-size: small;
}

/* not working */

tr {
    margin-bottom: 30px;
}