* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Asap, sans-serif;
    font-size: small;
}

body {
    margin: 5px;
}

#containerMain {
    /* margin: 5px; */
    /* padding: 4px; */
    display: flex;
    flex-direction: row;
}

textarea {
    --padding: 4px;
    resize: none;
    display: inline-block;
    margin-top: 16px;
    margin-right: 5px;
    line-height: 1.5em;
    padding: var(--padding);
    min-height: calc(6em + 2px + var(--padding));
    /* 2px to account for border + padding*/
    min-width: 250px;
}

table {
    table-layout: fixed;
    width: 100%;
    padding-left: 30px;
}

th:first-child {
    width: 80%;
}

th {
    text-align: left;
    min-width: 60px;
}

td {
    word-wrap: break-word;
}

td:first-of-type {
    padding-right: 10px;
}

/* not working */

tr {
    margin-bottom: 30px;
}