* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Asap, sans-serif;
    /* font-size: small; */
}

body {
    margin: 5px;
}

#containerMain {
    /* margin: 5px; */
    /* padding: 4px; */
    display: flex;
    flex-direction: row;
}

textarea {
    --padding: 4px;
    --line-height: 1.2em;
    resize: none;
    display: inline-block;
    margin-top: 16px;
    line-height: var(--line-height);
    padding: var(--padding);
    min-height: calc(calc(var(--line-height) * 4) + 2px + 4px + var(--padding));
    /* 4 for the number of lines in the placeholder. 2px to account for border. 4px for some extra breathing space*/
    min-width: 250px;
    font-family: 'Roboto', sans-serif;
}

table {
    table-layout: fixed;
    width: 100%;
    padding-left: 30px;
}

th:first-child {
    width: 80%;
}

th {
    text-align: left;
    min-width: 60px;
}

td {
    word-wrap: break-word;
    font-family: 'Roboto', sans-serif;
    font-size: small;
}

td:first-of-type {
    padding-right: 10px;
}

/* not working */

tr {
    margin-bottom: 30px;
}