* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Asap, sans-serif;
    font-family: 'Roboto', sans-serif;
    /* font-size: small; */
}

body {
    /* margin: 15px; */
    /* margin-top: 40px; */
    /* background-color: #F5F5FE; */
    /* background: url(../images/memphis-colorful.png) repeat 0 0; */
    background: url(../images/watercolor.png) repeat 0 0;
}

#top-bar {
    background-color: #FFFCE8;
    height: 30px;
    border-bottom: 2px solid #22a7ee;
}

#container-main {
    margin: 0 15px;
    margin-top: 15px;
    /* padding: 4px; */
    display: flex;
    flex-direction: row;
}

textarea {
    --padding: 4px;
    --line-height: 1.2em;
    resize: none;
    display: inline-block;
    margin-top: 16px;
    line-height: var(--line-height);
    padding: var(--padding);
    min-height: calc(calc(var(--line-height) * 4) + 2px + 4px + var(--padding));
    /* 4 for the number of lines in the placeholder. 2px to account for border. 4px for some extra breathing space*/
    min-width: 250px;
    font-family: 'Roboto', sans-serif;
}

#warning {
    float: left;
    margin-top: 5px;
    margin-left: 15px;
    color: red
}